<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-235-126-62.compute-1.amazonaws.com:5432/d69arregtvsbr2</property>
        <property name="hibernate.connection.username">hheejlohbpbuek</property>
        <property name="hibernate.connection.password">HBR1zwKCLSPZ4KUFHHGUR8z1sJ</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="connection.pool_size">1</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <mapping class="exhibitmanagement.domain.Administrator"></mapping>
        <mapping class="exhibitmanagement.domain.Ballistic"></mapping>
        <mapping class="exhibitmanagement.domain.Biology"></mapping>
        <mapping class="exhibitmanagement.domain.Chemistry"></mapping>
        <mapping class="exhibitmanagement.domain.Exhibit"></mapping>
        <mapping class="exhibitmanagement.domain.InvestigatingOfficer"></mapping>
        <mapping class="exhibitmanagement.domain.Station"></mapping>
    </session-factory>
</hibernate-configuration>